    .slick-slide  {
    display: flex !important;
    justify-content: center;
   }

    .slick-arrow.slick-prev{
    color:black;
    border-style: solid;
    border-radius:4px;
    width: 30px;
    height: 30px;
    border-width: thin;
    }
    .slick-arrow.slick-next{
    color:black;
    border-style: solid;
    border-radius:4px;
    width: 30px;
    height: 30px;
    border-width: thin;
    }